.vscode/*
.idea/*
.DS_Store
_deps/*
drafts/*
*.so
*.dylib

# build artifacts
build/*
build.debug/*
build.release/*
compile_commands.json

# analysis files
tmp/*
analysis/*
*.csv

# python-related
.python.envs/*
*.ipynb

# others
.cache/*